/*COLOR SCHEME
Text: rgb(255, 255, 255)
Text v.2: rgb(66, 28, 28)
Boxes: B1001E
Boxes v.2: rgb(77, 66, 66)
*/

:root{
    --text: rgb(200, 175, 175);
    --text2: rgb(66, 28, 28);
    --box-background: rgb(77, 66, 66);
    --box-shadow: rgb(84, 48, 48);
}

body{
    /*Background*/
    background-image: url(./media/Backgrounds/wallpaper.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /*Total Styling*/
    color: var(--text);
    font-family: 'SoulFont';
    text-shadow: 0px 0px 10px var(--text-shadow);
}


@font-face {
    font-family: "SoulFont";
    src: url(./media/Fonts/LEMONMILK-Medium.otf);
}

@font-face {
    font-family: "TitleFont";
    src: url(./media/Fonts/Bankai\ Demo\ Version.otf);
}


#title{
    /*Positioning*/
    margin-left: 10px;

    /*Styling/Sizing*/
    width: 800px;
    font-size: 100px;
    font-family: TitleFont;
    animation: title 20s infinite linear;
}

@keyframes title{
    0%{color: var(--text);}
    30%{color: var(--text2);}
    60%{color: rgb(rgb(50, 111, 131));}
    100%{color: rgb(34, 29, 29);}
}



#menu{
    position: fixed;
    right: 10px;
    top: 25%;
    bottom: 25%;
    display: flex;
    flex-direction: column;
    border-radius: 3%;
    background-color: var(--box-background);
    justify-content: center;
    transition: transform 0.2s, box-shadow 0.5s, right 0.2s;
}

#menu:hover{
    position: fixed;
    right: 20px;
    transform: scale(1.1);
    box-shadow: 10px 10px 20px var(--box-shadow);
}

.menuImage{
    width: 100px;
    height: 100px;
}

#worldShowcase{
    background-color: red;
    position: fixed;
    top: 15%;
    bottom: 15%;
    left: 15%;
    right: 15%;
    z-index: 1000;
    margin-top: auto;
    margin-bottom: auto;
    display: none;
}

button{
    transition: box-shadow 0.5s, background-color 0.3s;
  }


  button:hover{
    box-shadow: 5px 5px 10px rgb(56, 14, 14);
    background-color: darkred;
  }

  #blackScreen{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.8;
    z-index: 999;
    display: none;
}

.exitButton{
    position: fixed;
    transform: scale(3);
    border-radius: 20%;
    font-weight: bolder;
    top: 10%;
    right: 10%;
    background-color: var(--box-background);
    z-index: 19000;
    display: none;
}

