:root{
    --text: rgb(200, 175, 175);
    --text2: rgb(66, 28, 28);
    --box-background: rgb(77, 66, 66);
    --box-shadow: rgb(84, 48, 48);
}

body{
    /*Positioning*/
    height: 4000px;
    overflow-x: hidden;
}

#goUpButton{
    /*Positioning*/
    position: fixed;
    bottom: 5%;
    left: 5%;
    /*Styling/Sizing*/
    border-radius: 50%;
    width: 10%;
    height: auto;
    transform: rotate(180deg);
    transition: transform 0.5s, box-shadow 0.5s;
}

#goUpButton:hover{
    box-shadow: 10px 10px 20px var(--box-shadow);
    transform: rotate(-180deg);
    transform: scale(1.1);
    
}


/*INFOBOXES & Co.*/
.navButtons{
    /*Positioning*/
    position: relative;
    text-align: center;
    /*Styling/Sizing*/
    background-color: rgb(77, 66, 66);
    border-radius: 15%;
    width: 3%;
    padding: 25px;
    transition: transform 0.2s, box-shadow 0.5s, color 0.5s; 
    animation: CHANGEIFNEEDED 2s infinite alternate-reverse;
    animation-delay: none;   
}

@keyframes navButtonsNoHover {
    0%{transform: scale(1.0);}
    100%{transform: scale(1.1);}
    
}

.navButtons:hover{
    /*Animations*/
    animation: navButtons 1s infinite alternate;
    animation-delay: none; 
    /*Styling*/
    color: var(--text2);
    transform: scale(1.1);
    box-shadow: 10px 10px 20px rgb(104, 43, 43);
    
}

@keyframes navButtons {
    0%{transform: translateY(5px);}
    100%{transform: translateY(-5px);}
}


#introButton{
    /*Positioning*/
    position: absolute;
    left: 15%;
    top: 40%;
    animation-delay: 0.2s;
}

#aboutButton{
    /*Positioning*/
    position: absolute;
    left: 40%;
    top: 30%;
    animation-delay: 0.1s;
}
#moreButton{
    /*Positioning*/
    position: absolute;
    left: 60%;
    top: 35%;
    animation-delay: 0.4s;
}

.infoBoxes{
    /*Sizing/Styling*/
    font-size: 15px;
    width: 30%;
    height: auto;
    padding: 30px;
    background-color: var(--box-background);
    border-radius: 15%;
}



#introBox{
    /*Positioning*/
    position: absolute;
    top: 110%;
    left: 5%;
}


#introImg{
    /*Positioning*/
    position: absolute;
    top: 110%;
    left: 50%;
    /*Sizing*/
    width: 25%;
    height: auto;
}


#aboutBox{
    /*Positioning*/
    position: absolute;
    top: 230%;
    left: 50%;
}

#aboutImg{
    /*Positioning*/
    position: absolute;
    top: 230%;
    /*Sizing*/
    width: 25%;
    left: 10%;
    height: auto;
}


#moreBox{
    /*Positioning*/
    position: absolute;
    top: 350%;
    left: 3%;
}

#moreImg{
    /*Positioning*/
    position: absolute;
    top: 350%;
    left: 50%;
    /*Sizing*/
    width: 25%;
    height: auto;
}

#gashaponContainer{
    text-align: center;
    align-items: center;
    /*Positioning*/
   
    width: max-content;
    background-color: var(--box-background);
    border-radius: 2%;
    margin-top: 230%;
    margin-left: 20%;
    margin-right: 20%;
    z-index: 10;
}

#gashaponMachine{
    animation: gashaponMachine 1s 1 alternate;
}

@keyframes gashaponMachine {
    0%{transform: translateY(5px);}
    100%{transform: translateY(-5px);}
}

@keyframes shake {
    0%{transform: rotate(0deg);}
    15%{transform: rotate(5deg);}
    50%{transform: rotate(-5deg);}
    75%{transform: rotate(5deg);}
    100%{transform: rotate(0deg);}
}

#gashaponCooldownBox{
    position: relative;
    background-color: rgba(0, 0, 0, 0.479);
    width: 102px;
    height: 182px;
    margin-top: -13%;
    margin-left: 41%;
    margin-right: auto;
    z-index: 2000;
    display: none;
    animation: shake 1s 1 alternate;
}

#egg{
    position: relative;
    width: 50px;
    height: 50px;
    left: 44%;
    top: -45px;
    right: auto;
    animation: egg 1s 1 alternate;
    z-index: 3000;
    display: none;
}

@keyframes dropEgg {
    0%{transform: translateY(0px);}
    100%{transform: translateY(30px);}
   
}

@keyframes egg {
    0%{transform: translateY(5px);}
    100%{transform: translateY(-5px);}
}

#winMessage{
    background-color: var(--box-background);
    position: absolute;
    left: 40%;
    right: 40%;
    top: 400%;
    z-index: 100000;
    border: black solid 2px;
    display: none;
    text-align: center;
}