:root{
    --text: rgb(168, 134, 134);
    --text2: rgb(66, 28, 28);
    --box-background: rgb(77, 66, 66);
    --box-shadow: rgb(84, 48, 48);
}

body{
    /*Positioning*/
    height: 4000px;
    overflow-x: hidden;
}

#goUpButton{
    /*Positioning*/
    position: fixed;
    bottom: 5%;
    left: 5%;
    /*Styling/Sizing*/
    border-radius: 50%;
    width: 10%;
    height: auto;
    transform: rotate(180deg);
    transition: transform 0.5s, box-shadow 0.5s;
}

#goUpButton:hover{
    box-shadow: 10px 10px 20px var(--box-shadow);
    transform: rotate(-180deg);
    transform: scale(1.1);
    
}

/*INFOBOXES & Co.*/
.navButtons{
    /*Positioning*/
    position: relative;
    text-align: center;
    /*Styling/Sizing*/
    background-color: rgb(77, 66, 66);
    border-radius: 15%;
    width: 3%;
    padding: 25px;
    transition: transform 0.2s, box-shadow 0.5s, color 0.5s; 
    animation: navButtonsNoHover 2s infinite alternate-reverse;
    animation-delay: none;   
}

@keyframes navButtonsNoHover {
    0%{transform: scale(1.0);}
    100%{transform: scale(1.1);}
    
}

.navButtons:hover{
    /*Animations*/
    animation: navButtons 1s infinite alternate;
    animation-delay: none; 
    /*Styling*/
    color: var(--text2);
    transform: scale(1.1);
    box-shadow: 10px 10px 20px rgb(104, 43, 43);
    
}

@keyframes navButtons {
    0%{transform: translateY(5px);}
    100%{transform: translateY(-5px);}
}


#introButton{
    /*Positioning*/
    position: absolute;
    left: 15%;
    top: 40%;
    animation-delay: 0.2s;
}

#aboutButton{
    /*Positioning*/
    position: absolute;
    left: 40%;
    top: 30%;
    animation-delay: 0.1s;
}
#moreButton{
    /*Positioning*/
    position: absolute;
    left: 60%;
    top: 35%;
    animation-delay: 0.4s;
}

.infoBoxes{
    /*Sizing/Styling*/
    font-size: 15px;
    width: 30%;
    height: auto;
    padding: 30px;
    background-color: var(--box-background);
    border-radius: 15%;
}



#introBox{
    /*Positioning*/
    position: absolute;
    top: 110%;
    left: 5%;
}


#introImg{
    /*Positioning*/
    position: absolute;
    top: 110%;
    left: 50%;
    /*Sizing*/
    width: 25%;
    height: auto;
}


#aboutBox{
    /*Positioning*/
    position: absolute;
    top: 230%;
    left: 50%;
}

#aboutImg{
    /*Positioning*/
    position: absolute;
    top: 230%;
    /*Sizing*/
    width: 25%;
    left: 10%;
    height: auto;
}


#moreBox{
    /*Positioning*/
    position: absolute;
    top: 350%;
    left: 3%;
}

#moreImg{
    /*Positioning*/
    position: absolute;
    top: 350%;
    left: 50%;
    /*Sizing*/
    width: 25%;
    height: auto;
}


/*Quiz*/

#quizStart{
    display: block;
     /*Positioning*/
     position: absolute;
    
     top: 400%;
     left: 20%;
     
     right: 20%;
     text-align: center;
     /*Sizing/Styling*/
     width: auto;
     height: auto;
     background-color: var(--box-background);
     border-radius: 2%;
     padding: 30px;
}

#quiz{
    display: none;
    /*Positioning*/
    position: absolute;
    
    top: 400%;
    left: 20%;
    right: 20%;
    text-align: center;
    /*Sizing/Styling*/
    width: auto;
    height: auto;
    background-color: var(--box-background);
    border-radius: 2%;
    padding: 30px;
}


/*More*/

#quizResults{
    display: block;
    /*Positioning*/
    position: absolute;
    
    right: 10%;
    top: 5%;
    text-align: center;
    /*Sizing/Styling*/
    width: auto;
    height: auto;
    background-color: var(--box-background);
    border-radius: 2%;
    padding: 20px;
}

#quizInfo{
    display: none;
}